*{ margin:0px; padding: 0px; }

.myOrderLsit_container {
	display: flex;
	width: 1084px;
    min-height: 900px;
    margin: 30px auto;
    margin-top: 80px;
}
.point_right_container {
	float: left;
    width: 850px;
    min-width: 800px;
    margin-left: 25px;
    margin-top: 20px;
}


/* 포인트 내역  */
.review_container {
    margin-bottom: 50px;
    min-height: 300px;
}
.review_container > h3 {
	font-size: 18px !important;
    font-weight: bold;
}

.null_text {
	font-size: 17px;
    text-align: center;
    padding: 100px;
}


.point_table {
	width: 100%;
	font-size: 12px;
	margin: 20px 0px 50px 0px;
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
    text-align: center;
}
tr { border-bottom: 1.5px solid #B9CE45 }

td {
	min-width: 20px;
	height: 100px;
}
th {
	background-color: #eee;
}
th, td {
	border: 1px solid #ddd;
}
.table_top_tr > th{
	height: 40px !important;
    background-color: #B9CE45;
    color: white;
}
.content_tr {
	min-height: 150px;
    text-align: left;
    padding: 25px;
    vertical-align: top;
}
.content_tr > p {
	font-weight: 600;
}



.review_btn {
	background-color: white;
	padding: 5px 10px;
	border: 1px solid;
}

.review_img {
	width: 200px;
    height: 200px;
    margin: 0px -40px;
}


/* 반복하는 테이블*/
.order_num_td {
	line-height: 17px;
}
.order_num_td > a {
	color: black !important;
}

.order_info_td {
	display: flex;
}
.order_info_td > img {
	width: 100px;
    height: 100px;
    border-bottom: 1.5px solid #B9CE45;
    object-fit: cover;
}
.order_info_td > div {
	text-align: left;
	padding: 20px;
	width: 75%;
}
.order_info_td a {
	color: black !important;
}
.order_info_td > hr {
	margin: 10px;
    width: 100%;
}


.table_btn {
	border: 1px solid gray;
    border-radius: 5px;
    padding: 1px 5px 5px;
    line-height: 30px;
    color: black !important;
    font-weight: normal;
}


/* 페이징 스타일*/
.paging_container {
	min-width: 250px;
/* 	border: 1px solid black; */
	margin: 70px auto;
	text-align: center;

}
.paging_num {
	color: black !important;
	margin: 0px 10px;
}
.paging_num_yes {
	color: #B9CE45 !important;
	font-weight: bold !important;
	margin: 0px 10px;
}
.paging_a {
	color: black !important;
    border: 1px solid black;
    padding: 3px 4px;
}
.paging_a:hover {
	color: #B9CE45 !important;
	font-weight: bold !important;
}
