@charset "UTF-8";

.checkout-form input[type=radio] {
    text-align: left;
    width: 7%;
    height: 13px;
    margin: 0;
}

.checkout-form input {
	height: 13px;
}

.deliverListBtn {
    padding: 3px 8px;
    margin-left: 20px;
}

@media only screen and (min-width: 1200px) {
	.col-lg-2 {
	    bottom: 0;
	}	
}

.emph {
    color: red;
}

.postalBtn {
    margin: 0;
}

.checkout-form input {
    height: 30px;
    margin-bottom: 10px;
    padding-left: 5px;
} 

.normalAddrInfo {
	margin-left: 1px;
    margin-right: 2px;
}

.pointTitle {
    font-weight: bolder;
}

.checkout-form input[type=checkbox] {
    height: 19px;
    text-align: left; 
    width: 18%;
    vertical-align: text-top;
}

.selectBox {
    width: 50%;
    border: 2px solid #ebebeb;
    height: 30px;
}

.checkout-form input[name=saveCashReciptStat] {
    width: 9%; 
}

.checkout-form #cashReciptApply {
    padding-left: 10px; 
}

.orderTable {
    width: 100%;
    border: none;
    border-top: 2px solid #e7ab3c;
    border-bottom: 1px solid #dddde1;
    table-layout: fixed;
}

.orderTable th {
    padding: 13px 0 12px;
    border-top: 1px solid #383d4a;
    color: #20232c;
    font-weight: normal;
}

.orderTable th, .orderTable td {
    border: none;
    text-align: center;
}

.orderTable .group td {
    border-top: 1px solid #dddde1;
}

.orderTable td.product {
    padding: 13px 10px 11px;
    text-align: left;
    position: relative;
}

.orderTable td {
    padding: 15px 0;
    border-top: 1px solid #edeeef;
    color: #20232c;
    vertical-align: middle;
    word-wrap: break-word;
    word-break: break-all;
}

.orderTable a {
    color: black;
}

.orderTable a:hover {
    text-decoration: underline;
}

.orderNum {
	font-size: 14px;
}