* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.register_title { 
	font-size: 30px;
	text-align: center;
    margin-top: 30px;
    color: black;
    border-bottom: 2px solid #B9CE45;
    padding-bottom: 20px;
    width: 600px;
    margin-left: 50px
}

.register_wrap {
    height: 1500px;
    width: 100%;
    background-image: url(img/background.jpg);
    background-position: center;
    background-size: cover;
}

.register_form {
    width: 700px;
    height: 1500px;
    position: relative;
    margin: 6% auto;
    padding: 5px;
    overflow: hidden;
}


.register_input_group {
    top: 100px;
    transition: .5s;
    margin-left: 130px;
    padding-left: 22px;
    padding-top: 40px
}
.register_input_group label { 
	font-size: 11pt;  
    margin-bottom: 0px;
}
.register_input_group span {
	font-size: 11pt;
	color: #FF5E00;
	margin-left: 10px;
}
.phoneSend_text {
    font-size: 13px;
    color: red;
    margin-top: -30px;
}

.register_field{
    width: 310px;
	padding: 10px 10px;
	margin-top: 5px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    outline: none;
    background: transparent;
    font-size: 12pt;
}


.input-birth {
	width: 105px;
	padding: 10px 10px;
	margin-top: 5px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    outline: none;
    background: transparent;
    font-size: 12pt;
    margin-right: 5px;
    color: gray;
}




.input-addr {
    width: 400px;
	padding: 10px 10px;
	margin-top: 5px;
    border: 1px solid #ccc;
    outline: none;
    background: transparent;
    font-size: 12pt;
}
.input-checkbox {
	cursor:pointer;
	color: black;
	font-size: 15px;
}
.input-checkbox > input {
	margin: 10px 0px;
}

.check-button {
	padding: 10px 10px;
	margin-top: 3px;
    border: 0.5px solid #EAEAEA;
    background: #F0F0E9;
    font-size: 12pt;
    cursor: pointer;
}
.check-button:hover{ background-color:  transparent; }

 
.register_button {
    width: 50%;
    padding: 7px 30px;
    cursor: pointer;
    display: block;
    margin: 50px auto;
    background: #B9CE45;
    border: 0;
    outline: none;
    color: white;
    font-weight: 700;
}

