* {margin : 0; padding: 0; box-sizing: border-box; }
ul, li {list-style: none;}

#container{
	width: 1200px; margin: 0px auto;
}
article {
	width: 400px;
    margin: 80px auto 200px auto;
    padding-top: 90px;
    letter-spacing: -.6px;
}
.login_name, .find_id, .find_pw, .change_pw {
	font-weight: 800;
    font-size: 30px;
    line-height: 20px;
    text-align: center;
}
.change_pw {
	font-weight: 800;
    font-size: 26px;
    line-height: 20px;
    text-align: center;
}
#join, #fn_id, #fn_pw, #ch_pw {
	margin: 0px auto;
	padding: 20px;
}
h3 {
	margin-bottom: 40px;
	font-weight: 900;
}
label {
	font-size: 20px;
	font-weight: bold;
}
#id, #email1, #name, #num , #ch_pass, #ch_pass2{
	width: 100%;
    height: 54px;
    margin: 10px auto;
    padding: 0 19px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    font-size: 13px;
}
#pass {
	width: 100%;
    height: 54px;
    margin: 0px auto;
    padding: 0 19px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    font-size: 13px;
}
#cir_text {
	color: red;
	font-size: 12px;
	height: 0px;
    margin-top: 4px;
    display: contents;
}
#email2 {
	width: 78%;
	height: 54px;
    margin: 10px auto;
    padding: 0 19px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    font-size: 13px;
}
.check_box {
	overflow: hidden;
    padding-bottom: 28px;
    padding-left: 20px;
    padding-right: 20px;
}
#check_save {
	margin-right: 5px;
}
.label_checkbox {
	float: left;
    margin-top: 9px;
    font-size: 13px;
    font-weight: 500;
}
.login_search {
	float: right;
    margin-top: 9px;
    font-size: 13px;
}
 
#id_search, #pass_search {
	color: black;
	text-decoration: none;
}

.input_box, #buttons {
	margin: 0px auto;
	padding: 0px 20px;
}
/*---------버튼------------*/
#loginus, #find_ok, #check_req {
	border: 1px solid #B9CE45;
    background-color: #B9CE45;
}
#loginus {
	color:white;
}
#joinus, #login {
	border: 1px solid #B9CE45;
    background-color: #fff;
    margin-top: 15px;
    color: black;
}
#loginus, #joinus {
	display: block;
    overflow: hidden;
    width: 100%;
    height: 54px;
    border-radius: 3px;
    text-align: center;
    cursor:pointer;
    font-size: 15px;
    font-weight: 700;
}
#check_req {
	display:inline-block;
	margin: 0px 1px auto;
    overflow: hidden;
    width: 20%;
    height: 54px;
    border-radius: 3px;
    text-align: center;
    cursor:pointer;
    color: white;
    font-weight: 600;
    font-size: 13px;
}
#find_ok , #login {
    overflow: hidden;
    width: 35%;
    height: 54px;
    border-radius: 3px;
    text-align: center;
    cursor:pointer;
    font-size: 15px;
    font-weight: 700;
}
#find_ok {
	color: white;
	margin: 20px 10px 20px 35px;
}
#login {
	margin: 20px 35px 20px 10px;
}

.find_result_text {
	color: red;
    text-align: center;
    margin-bottom: 0px;
    font-size: 14px;
}


/* findPW.jsp */
.findpw_input {
	width: 100%;
    height: 54px;
    margin-top: 15px;
    padding: 0 19px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    font-size: 13px;
}