<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
<mapper namespace="com.unomas.mapper.adminMapper">

  <!-- 전체 회원 수 -->
  <select id="allUserCount" resultType="String">
  	SELECT count(*) FROM users
  </select>
  
  <!-- 탈퇴 회원 수 -->
  <select id="allDropUserCount" resultType="String">
  	SELECT count(*) FROM users where user_status = -1
  </select>
  
  <!-- 회원 전체 조회 -->
  <select id="getAllUser" parameterType="Map" resultType="com.april.unomas.domain.UserVO">
  	SELECT * FROM users ORDER BY user_regdate ${standard} LIMIT #{cri.pageStart},#{cri.perPageNum}
  </select>
  
  <!-- 탈퇴 회원 조회 -->
  <select id="getDropUser" resultType="com.april.unomas.domain.UserVO">
  	SELECT * FROM users WHERE user_status=-1
  </select>





	<resultMap type="NoticeVO" id="noticeMap">
		<id column="NOTICE_NUM" property="notice_num"/>
		<result column="ADMIN_NUM" property="admin_num"/>
		<result column="NOTICE_TITLE" property="notice_title"/>
		<result column="NOTICE_CONTENT" property="notice_content"/>
		<result column="NOTICE_REGDATE" property="notice_regdate"/>
		<result column="NOTICE_READCNT" property="notice_readcnt"/>
		<result column="NOTICE_IP" property="notice_ip"/>
		<result column="NOTICE_IMG" property="notice_img"/>
		<result column="NOTICE_FILE" property="notice_file"/>
		
	
		<association javaType="AdminVO" property="adminVO">
			<id column="ADMIN_NUM" property="admin_num"/>
			<result column="ADMIN_ID" property="admin_id"/>
			<result column="ADMIN_PASS" property="admin_pass"/>
			<result column="ADMIN_PERMIT" property="admin_permit"/>
			<result column="ADMIN_REGDATE" property="admin_regdate"/>
			<result column="ADMIN_LASTLOGIN" property="admin_lastlogin"/>
		</association>
	</resultMap>
	
	<resultMap type="AdminVO" id="adminMap">
			<id column="ADMIN_NUM" property="admin_num"/>
			<id column="ADMIN_ID" property="admin_id"/>
			<id column="ADMIN_PASS" property="admin_pass"/>
			<id column="ADMIN_PERMIT" property="admin_permit"/>
			<id column="ADMIN_REGDATE" property="admin_regdate"/>
			<id column="ADMIN_LASTLOGIN" property="admin_lastlogin"/>
	</resultMap>
	
	<resultMap type="QnaCateVO" id="qnaCateMap">
			<id column="QNACATE_NUM" property="qnacate_num"/>
			<id column="QNACATE_NAME" property="qnacate_name"/>
	</resultMap>
		
	<resultMap type="BoardVO" id="boardMap">
		<id column="FAQ_NUM" property="faq_num"/>
		<id column="ADMIN_NUM" property="admin_num"/>
		<id column="FAQ_TITLE" property="faq_title"/>
		<id column="FAQ_CONTENT" property="faq_content"/>
		<id column="FAQ_REGDATE" property="faq_regdate"/>
		<id column="QNACATE_NUM" property="qnacate_num"/>
		<collection property="qnaCateVO" resultMap="qnaCateMap"></collection>
		<collection property="adminVO" resultMap="adminMap"></collection>
	</resultMap>
		
	<resultMap type="QnaVO" id="qnaMap">
		<id column="QNA_NUM" property="qna_num"/>
		<result column="USER_NUM" property="user_num"/>
		<result column="QNA_TITLE" property="qna_title"/>
		<result column="QNA_CONTENT" property="qna_content"/>
		<result column="QNA_REGDATE" property="qna_regdate"/>
		<result column="QNA_PROCESS" property="qna_process"/>
		<result column="QNACATE2" property="qnacate2"/>
		<result column="QNACATE_NUM" property="qnacate_num"/>
		<result column="QNA_IMG" property="qna_img"/>
		<result column="QNA_IMAGE1" property="qna_image1"/>
		<result column="QNA_IMAGE2" property="qna_image2"/>
		
	
		<association javaType="QnaCateVO" property="qnaCateVO">
			<id column="QNACATE_NUM" property="qnacate_num"/>
			<result column="QNACATE_NAME" property="qnacate_name"/>
		</association>
	</resultMap>
	
	<resultMap type="Qna_ComVO" id="qnaComMap">
		<id column="QNACOM_NUM" property="qnacom_num"/>
		<result column="QNA_NUM" property="qna_num"/>
		<result column="ADMIN_NUM" property="admin_num"/>
		<result column="QNACOM_CONTENT" property="qnacom_content"/>
		<result column="QNACOM_REGDATE" property="qnacom_regdate"/>
		<collection property="qnaVO" resultMap="qnaMap"></collection>
	</resultMap>
	
	<resultMap type="Qna_ComVO" id="qnaComViewMap">
		<id column="QNACOM_NUM" property="qnacom_num"/>
		<result column="QNA_NUM" property="qna_num"/>
		<result column="ADMIN_NUM" property="admin_num"/>
		<result column="QNACOM_CONTENT" property="qnacom_content"/>
		<result column="QNACOM_REGDATE" property="qnacom_regdate"/>
		<collection property="adminVO" resultMap="adminMap"></collection>
	</resultMap>
	
	<resultMap type="QnaVO" id="adminQna">
		<id column="QNA_NUM" property="qna_num"/>
		<result column="USER_NUM" property="user_num"/>
		<result column="QNA_TITLE" property="qna_title"/>
		<result column="QNA_CONTENT" property="qna_content"/>
		<result column="QNA_REGDATE" property="qna_regdate"/>
		<result column="QNA_PROCESS" property="qna_process"/>
		<result column="QNACATE2" property="qnacate2"/>
		<result column="QNACATE_NUM" property="qnacate_num"/>
		<result column="QNA_IMG" property="qna_img"/>
		<result column="QNA_IMAGE1" property="qna_image1"/>
		<result column="QNA_IMAGE2" property="qna_image2"/>
		<collection property="qnaCateVO" resultMap="qnaCateMap"></collection>
		<collection property="qna_comVO" resultMap="qnaComMap"></collection>
	</resultMap>

	<select id="adminLogin" resultType="AdminVO">
		SELECT * 
	  	FROM admin 
	  	WHERE admin_id=#{admin_id} AND admin_pass=#{admin_pass}
	</select>

	<select id="adminList" resultType="AdminVO">
		<![CDATA[
		SELECT * 
		FROM admin
		WHERE admin_num > 0
		]]>
		ORDER BY admin_num desc
		LIMIT #{pageStart} , #{perPageNum}
	</select>
	
	<select id="adminTotal" resultType="Integer">
		SELECT COUNT(*)
		FROM admin
	</select>
	
	<select id="userList" resultType="UserVO">
		<![CDATA[
		SELECT *
		FROM users
		WHERE user_num > 0
		]]>
		ORDER BY user_num DESC
		LIMIT #{pageStart} , #{perPageNum}
	</select>
	
	<select id="userTotal" resultType="Integer">
		SELECT COUNT(*)
		FROM users
	</select>
	
	<select id="noticeList" resultMap="noticeMap">
		<![CDATA[
		SELECT notice_num,notice_title,notice_content,notice_regdate,notice_readcnt,notice_ip,notice_img,notice_file,a.admin_num,a.admin_id
		FROM board_notice b JOIN admin a
		WHERE notice_num > 0
		]]>
		<include refid="search_condition"></include>
		ORDER BY notice_num DESC
		LIMIT #{pageStart}, #{perPageNum}
	</select>
	
	<select id="noticeTotal" resultType="Integer">
		SELECT COUNT(*)
		FROM board_notice
	</select>
	
	<insert id="noticeInsert">
		INSERT INTO board_notice(admin_num,notice_title,notice_content,notice_file,notice_img,notice_ip)
		VALUES (#{admin_num},#{notice_title},#{notice_content},#{notice_file},#{notice_img},#{notice_ip})
	</insert>
	
	<select id="getNotice" resultMap="noticeMap">
		SELECT notice_num,notice_title,notice_content,notice_regdate,notice_readcnt,notice_ip,notice_img,notice_file,a.admin_num,a.admin_id 
		FROM board_notice b JOIN admin a
		WHERE notice_num=#{notice_num}
	</select>
	
	<update id="rCountUp">
		UPDATE board_notice 
		SET notice_readcnt=notice_readcnt+1
		WHERE notice_num=#{notice_num}
	</update>
	
	<update id="noticeUpdate">
		UPDATE board_notice 
		SET notice_title=#{notice_title},notice_content=#{notice_content},notice_regdate=now()
		WHERE notice_num=#{notice_num}
	</update>
	
	<delete id="noticeDelete">
		DELETE FROM board_notice
		WHERE notice_num=#{notice_num}
	</delete>
	
	<insert id="faqInsert">
		INSERT INTO board_faq(faq_title,faq_content,qnacate_num,admin_num) 
		VALUES (#{faq_title},#{faq_content},#{qnacate_num},#{admin_num})
	</insert>
	
	<select id="faqList" resultMap="boardMap">
		<![CDATA[
		SELECT * 
		FROM board_faq b
		JOIN qna_category q
		ON b.qnacate_num = q.qnacate_num
		JOIN admin a
		ON b.admin_num = a.admin_num
		]]>
		<include refid="search_condition_faq"></include>
		ORDER BY faq_num DESC
		LIMIT #{pageStart} , #{perPageNum}
	</select>
	
	<select id="faqSortCategory" resultMap="boardMap">
		SELECT * 
		FROM board_faq b
		JOIN qna_category q
		ON b.qnacate_num = q.qnacate_num
		JOIN admin a
		ON b.admin_num = a.admin_num
		WHERE b.qnacate_num=#{qnacate_num}
		ORDER BY faq_num DESC
		LIMIT #{pageStart} , #{perPageNum}
	</select>
	
	<select id="sortCateCount" resultType="Integer">
		SELECT COUNT(*) 
		FROM board_faq
		WHERE qnacate_num=#{qnacate_num}
	</select>
	
	<select id="faqCount" resultType="Integer">
		<![CDATA[
		SELECT COUNT(*) 
		FROM board_faq
		WHERE faq_num > 0
		]]>
		<include refid="search_condition_faq"></include>
	</select>
	
	<select id="getFaq" resultType="BoardVO">
		SELECT * FROM board_faq
		WHERE faq_num=#{faq_num}
	</select>
	
	<update id="faqUpdate">
		UPDATE board_faq 
		SET faq_title=#{faq_title},qnacate_num=#{qnacate_num},faq_content=#{faq_content} 
		WHERE faq_num=#{faq_num}
	</update>
	
	<delete id="faqDelete">
		DELETE FROM board_faq
		WHERE faq_num=#{faq_num}
	</delete>
	
	<select id="qnaList" resultMap="adminQna">
		<![CDATA[
		SELECT *
		FROM board_qna q 
		JOIN qna_category c
		ON q.qnacate_num = c.qnacate_num
		WHERE q.qna_num > 0
		]]>
		ORDER BY q.qna_num desc
		LIMIT #{pageStart}, #{perPageNum}
		
	</select>
	
	<insert id="qnaCommentWrite">
		INSERT INTO qna_comments(qna_num,admin_num,qnacom_content)
		VALUES (#{qna_num},#{admin_num},#{qnacom_content})
	</insert>
	
	<select id="getComment" resultMap="qnaComViewMap">
		SELECT *
		FROM qna_comments natural join admin
		WHERE qna_num = #{qna_num}
	</select>
	
	<select id="qnaTotal" resultType="Integer">
		<![CDATA[
		SELECT COUNT(*) 
		FROM board_qna
		WHERE qna_num > 0
		]]>
	</select>
	
	<select id="getQna" resultMap="qnaMap">
		SELECT * 
		FROM board_qna b JOIN qna_category c
        ON b.qnacate_num = c.qnacate_num
		WHERE b.qna_num = #{qna_num}
	</select>
	
	<update id="qnaProcessUp">
		UPDATE board_qna
		SET qna_process = qna_process + 1
		WHERE qna_num = #{qna_num}
	</update>
	
	<sql id="search_condition_faq">
	<if test="search_type != null">
		<if test="search_type == 'title'.toString()">
			AND faq_title LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="search_type == 'cate'.toString()">
			AND q.qnacate_name LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="search_type == 'content'.toString()">
			AND faq_content LIKE CONCAT('%', #{keyword}, '%')
		</if>
	</if>
	</sql>
	
	<sql id="search_condition">
	<if test="search_type != null">
		<if test="search_type == 'title'.toString()">
			AND notice_title LIKE CONCAT('%', #{keyword}, '%')
		</if>
	</if>
	</sql>


</mapper>


