<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.unomas.mapper.BoardMapper">

<resultMap type="AdminVO" id="adminMap">
		<id column="ADMIN_NUM" property="admin_num"/>
		<id column="ADMIN_ID" property="admin_id"/>
		<id column="ADMIN_PASS" property="admin_pass"/>
		<id column="ADMIN_PERMIT" property="admin_permit"/>
		<id column="ADMIN_REGDATE" property="admin_regdate"/>
		<id column="ADMIN_LASTLOGIN" property="admin_lastlogin"/>
	</resultMap>

<resultMap type="QnaCateVO" id="qnaCateMap">
		<id column="QNACATE_NUM" property="qnacate_num"/>
		<id column="QNACATE_NAME" property="qnacate_name"/>
	</resultMap>
	
	<resultMap type="BoardVO" id="boardMap">
		<id column="FAQ_NUM" property="faq_num"/>
		<id column="ADMIN_NUM" property="admin_num"/>
		<id column="FAQ_TITLE" property="faq_title"/>
		<id column="FAQ_CONTENT" property="faq_content"/>
		<id column="FAQ_REGDATE" property="faq_regdate"/>
		<id column="QNACATE_NUM" property="qnacate_num"/>
		<collection property="qnaCateVO" resultMap="qnaCateMap"></collection>
		<collection property="adminVO" resultMap="adminMap"></collection>
	</resultMap>

<resultMap type="Qna_ComVO" id="qnaCommMap">
	<id column="QNACOM_NUM" property="qnacom_num"/>
	<result column="QNA_NUM" property="qna_num"/>
	<result column="ADMIN_NUM" property="admin_num"/>
	<result column="QNACOM_CONTENT" property="qnacom_content"/>
	<result column="QNACOM_REGDATE" property="qnacom_regdate"/>
	<collection property="adminVO" resultMap="adminMap"></collection>
</resultMap>

  <insert id="create">
		insert into board_faq(faq_title,faq_content,faq_cate) 
		values(#{faq_title},#{faq_content},#{faq_cate})
	</insert>
	
	<select id="sortCategory" resultMap="boardMap">
		select * 
		from board_faq b
		join qna_category q
		on b.qnacate_num = q.qnacate_num
		join admin a
		on b.admin_num = a.admin_num
		where b.qnacate_num=#{qnacate_num}
		order by faq_num desc
		limit #{pageStart} , #{perPageNum}
	</select>
	
	<select id="sortCateCount" resultType="Integer">
		select count(*) from board_faq
		where qnacate_num=#{qnacate_num}
	</select>
	
	<select id="countBoard" resultType="Integer">
		<![CDATA[
		select count(*) from board_faq
		where faq_num > 0
		]]>
		<include refid="search_condition"></include>
	</select>
	
	<select id="pagingBoard" resultMap="boardMap">
		<![CDATA[
		select * 
		from board_faq b
		join qna_category q
		on b.qnacate_num = q.qnacate_num
		join admin a
		on b.admin_num = a.admin_num
		]]>
		<include refid="search_condition"></include>
		order by faq_num desc
		limit #{pageStart} , #{perPageNum}
	</select>
	
	<select id="getBoard" resultType="BoardVO">
		select * from board_faq
		where faq_num=#{faq_num}
	</select>
	
	<update id="updateBoard">
		update board_faq 
		set faq_title=#{faq_title},faq_cate=#{faq_cate},faq_content=#{faq_content} 
		where faq_num=#{faq_num}
	</update>
	
	<delete id="deleteBoard">
		delete from board_faq
		where faq_num=#{faq_num}
	</delete>
	
	<select id="getComment" resultMap="qnaCommMap">
		select qancom_content, admin_id, qnacom_regdate
		from qna_comments c join admin a
		where qna_num = #{qna_num}
	</select>
	
	<sql id="search_condition">
	<if test="search_type != null">
		<if test="search_type == 'title'.toString()">
			and faq_title like concat('%', #{keyword}, '%')
		</if>
		<if test="search_type == 'cate'.toString()">
			and faq_cate like concat('%', #{keyword}, '%')
		</if>
		<if test="search_type == 'content'.toString()">
			and faq_content like concat('%', #{keyword}, '%')
		</if>
	</if>
	</sql>
	
</mapper>
