<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.april.unomas.mappers.indexMapper">

<!-- 조회수별 상품목록 가져오기 -->
<!-- NULL 값은 뒤로 보내고 4개 가져오기 -->
<select id="readcntSelect" resultType="com.april.unomas.domain.SelectVO">
	SELECT prod_num, prod_name, prod_readcnt, prod_category, prod_price 
	FROM unomasdb.products
	ORDER BY prod_readcnt is null asc, prod_readcnt desc limit 4
</select>

</mapper>