<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.unomas.mapper.NoticeMapper">
  <insert id="create">
		insert into board_notice(admin_num,notice_title,notice_content) 
		values(#{admin_num},#{notice_title},#{notice_content})
	</insert>
	
	<insert id="insert">
		insert into board_notice(admin_num,notice_title,notice_content,notice_file,notice_image)
		values(#{admin_num},#{notice_title},#{notice_content},#{notice_file},#{notice_image})
	</insert>
	
	<select id="listAll" resultType="NoticeVO">
		<![CDATA[
		select * from board_notice 
		where notice_num > 0
		]]>
	</select>
	
	<select id="getNotice" resultType="NoticeVO">
		select * from board_notice
		where notice_num=#{notice_num}
	</select>
	
	<update id="rCountUp">
		update board_notice 
		set notice_readcount=notice_readcount+1
		where notice_num=#{notice_num}
	</update>
	
	<select id="noticeCnt" resultType="Integer">
		select count(*) 
		from board_notice
	</select>
	
	<select id="pagingNotice" resultType="NoticeVO">
		select * 
		from board_notice
		order by notice_num desc
		limit #{pageStart}, #{perPageNum}
	</select>
	
	<update id="updateNotice">
		update board_notice 
		set notice_title=#{notice_title},notice_content=#{notice_content},notice_regdate=now()
		where notice_num=#{notice_num}
	</update>
	
	<delete id="deleteNotice">
		delete from board_notice
		where notice_num=#{notice_num}
	</delete>
	
	<sql id="search_condition">
	<if test="search_type != null">
		<if test="search_type == 'title'.toString()">
			and faq_title like concat('%', #{keyword}, '%')
		</if>
		<if test="search_type == 'cate'.toString()">
			and faq_cate like concat('%', #{keyword}, '%')
		</if>
		<if test="search_type == 'content'.toString()">
			and faq_content like concat('%', #{keyword}, '%')
		</if>
	</if>
	</sql>
	
</mapper>
