<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.unomas.mapper.NoticeMapper">

<resultMap type="NoticeVO" id="noticeMap">
	<id column="NOTICE_NUM" property="notice_num"/>
	<result column="ADMIN_NUM" property="admin_num"/>
	<result column="NOTICE_TITLE" property="notice_title"/>
	<result column="NOTICE_CONTENT" property="notice_content"/>
	<result column="NOTICE_REGDATE" property="notice_regdate"/>
	<result column="NOTICE_READCNT" property="notice_readcnt"/>
	<result column="NOTICE_IP" property="notice_ip"/>
	<result column="NOTICE_IMG" property="notice_img"/>
	<result column="NOTICE_FILE" property="notice_file"/>
	

	<association javaType="AdminVO" property="adminVO">
		<id column="ADMIN_NUM" property="admin_num"/>
		<result column="ADMIN_ID" property="admin_id"/>
		<result column="ADMIN_PASS" property="admin_pass"/>
		<result column="ADMIN_PERMIT" property="admin_permit"/>
		<result column="ADMIN_REGDATE" property="admin_regdate"/>
		<result column="ADMIN_LASTLOGIN" property="admin_lastlogin"/>
	</association>
</resultMap>

  <insert id="create">
		INSERT INTO board_notice(admin_num,notice_title,notice_content) 
		VALUES (#{admin_num},#{notice_title},#{notice_content})
	</insert>
	
	<insert id="insert">
		INSERT INTO board_notice(admin_num,notice_title,notice_content,notice_file,notice_img,notice_ip)
		VALUES (#{admin_num},#{notice_title},#{notice_content},#{notice_file},#{notice_img},#{notice_ip})
	</insert>
	
	<select id="getNotice" resultMap="noticeMap">
		SELECT notice_num,notice_title,notice_content,notice_regdate,notice_readcnt,notice_ip,notice_img,notice_file,a.admin_num,a.admin_id 
		FROM board_notice b JOIN admin a
		WHERE notice_num=#{notice_num}
	</select>
	
	<update id="rCountUp">
		UPDATE board_notice 
		SET notice_readcnt=notice_readcnt+1
		WHERE notice_num=#{notice_num}
	</update>
	
	<select id="noticeCnt" resultType="Integer">
		<![CDATA[
		SELECT count(*) 
		FROM board_notice
		WHERE notice_num > 0
		]]>
		<include refid="search_condition"></include>
	</select>
	
	<select id="pagingNotice" resultMap="noticeMap">
		<![CDATA[
		SELECT notice_num,notice_title,notice_content,notice_regdate,notice_readcnt,notice_ip,notice_img,notice_file,a.admin_num,a.admin_id
		FROM board_notice b JOIN admin a
		WHERE notice_num > 0
		]]>
		<include refid="search_condition"></include>
		ORDER BY notice_num desc
		LIMIT #{pageStart}, #{perPageNum}
	</select>
	
	<update id="updateNotice">
		UPDATE board_notice 
		SET notice_title=#{notice_title},notice_content=#{notice_content},notice_regdate=now()
		WHERE notice_num=#{notice_num}
	</update>

	<delete id="deleteNotice">
		DELETE from board_notice
		WHERE notice_num=#{notice_num}
	</delete>
	
	<sql id="search_condition">
	<if test="search_type != null">
		<if test="search_type == 'title'.toString()">
			AND notice_title LIKE CONCAT('%', #{keyword}, '%')
		</if>
	</if>
	</sql>
	
</mapper>
