<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.unomas.mapper.QnaMapper"> 

	<resultMap type="QnaVO" id="qnaMap">
		<id column="QNA_NUM" property="qna_num"/>
		<result column="USER_NUM" property="user_num"/>
		<result column="QNA_TITLE" property="qna_title"/>
		<result column="QNA_CONTENT" property="qna_content"/>
		<result column="QNA_REGDATE" property="qna_regdate"/>
		<result column="QNA_PROCESS" property="qna_process"/>
		<result column="QNACATE2" property="qnacate2"/>
		<result column="QNACATE_NUM" property="qnacate_num"/>
		<result column="QNA_IMG" property="qna_img"/>
		<result column="QNA_IMAGE1" property="qna_image1"/>
		<result column="QNA_IMAGE2" property="qna_image2"/>
	
		<association javaType="QnaCateVO" property="qnaCateVO">
			<id column="QNACATE_NUM" property="qnacate_num"/>
			<result column="QNACATE_NAME" property="qnacate_name"/>
		</association>
	</resultMap>
	
	<resultMap type="AdminVO" id="adminMap">
		<id column="ADMIN_NUM" property="admin_num"/>
		<id column="ADMIN_ID" property="admin_id"/>
		<id column="ADMIN_PASS" property="admin_pass"/>
		<id column="ADMIN_PERMIT" property="admin_permit"/>
		<id column="ADMIN_REGDATE" property="admin_regdate"/>
		<id column="ADMIN_LASTLOGIN" property="admin_lastlogin"/>
	</resultMap>
	
	<resultMap type="Qna_ComVO" id="qnaCommMap">
		<id column="QNACOM_NUM" property="qnacom_num"/>
		<result column="QNA_NUM" property="qna_num"/>
		<result column="ADMIN_NUM" property="admin_num"/>
		<result column="QNACOM_CONTENT" property="qnacom_content"/>
		<result column="QNACOM_REGDATE" property="qnacom_regdate"/>
		<collection property="adminVO" resultMap="adminMap"></collection>
	</resultMap>
	
<!-- 	<insert id="createQna"> -->
<!-- 		INSERT INTO board_qna(user_num,qna_title,qna_content,qnacate_num,qna_image1,qna_image2) -->
<!-- 		VALUES ( -->
<!-- 		(SELECT user_num -->
<!-- 		FROM users -->
<!-- 		WHERE user_id = #{user_id} -->
<!-- 		),#{qna_title},#{qna_content},#{qnacate_num},#{qna_image1},#{qna_image2}) -->
<!-- 	</insert> -->
	
	<insert id="createQna">
		INSERT INTO board_qna(user_num,qna_title,qna_content,qnacate_num,qna_image1,qna_image2)
		VALUES (#{user_num},#{qna_title},#{qna_content},#{qnacate_num},#{qna_image1},#{qna_image2})
	</insert>
		
	<select id="pagingQna1" resultMap="qnaMap">
		<![CDATA[
		SELECT qna_num, qna_title, qna_content, qna_regdate,qna_process,qna_image1,qna_image2,q.qnacate_num,c.qnacate_name
		FROM board_qna q JOIN users u
        ON q.user_num = u.user_num
        JOIN qna_category c
        ON q.qnacate_num = c.qnacate_num
        WHERE user_id = #{user_id}
		]]>
		ORDER BY qna_num desc
		LIMIT #{pageStart}, #{perPageNum}
	</select>
		
	<select id="qnaCnt" resultType="Integer">
		SELECT count(*) 
		FROM board_qna b JOIN users u
        ON b.user_num = u.user_num
		WHERE user_id = #{user_id}
	</select>
		
	<delete id="deleteQna">
		DELETE 
		FROM board_qna
		WHERE qna_num = #{qna_num}
	</delete>
		
	<select id="getComment" resultMap="qnaCommMap">
		SELECT qnacom_content, admin_id, qnacom_regdate
		FROM qna_comments c JOIN admin a
		WHERE qna_num = #{qna_num}
	</select>
	
</mapper>