<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.unomas.mapper.userMapper">
  <!-- 디비시간정보 가져오기 -->
  <!-- 겟타임 메서드를 호출하면 현재시간을 받아서 스트링 형태로 가져올 것이다. -->
  <select id="getTime" resultType="string">
      SELECT now()
  </select>
  
  <!-- 관리자 등록 쿼리문 -->
  <insert id="joinAdmin">
      INSERT into admin(admin_id, admin_pass) 
      VALUES (#{admin_id}, #{admin_pass})
  </insert>
  
    <!-- 유저 회원가입 -->
  <insert id="joinUser">
	INSERT into users(user_id, user_pass, user_name, user_birth, user_phone, user_email, user_postalcode, user_roadaddr, user_detailaddr, user_emailagree) 
	VALUES (#{user_id}, #{user_pass}, #{user_name}, #{user_birth}, #{user_phone}, #{user_email}, #{user_postalcode}, #{user_roadaddr}, #{user_detailaddr}, #{user_emailagree})  
  </insert>
  
  <!-- 아이디 중복검사 -->
  <select id="idCheck_sql" resultType="int">
  	SELECT count(*) 
  	FROM users 
  	WHERE user_id=#{user_id}
  </select>
  
  <!-- 아이디 찾기 -->
  <select id="findID_sql" resultType="String">
  	SELECT user_id 
  	FROM users 
  	WHERE user_email=#{user_email} and user_name=#{user_name}
  </select>
  
  <!-- 비번 찾기 -->
  <select id="findPW_sql" resultType="String">
  	SELECT count(user_num)
  	FROM users 
  	WHERE user_name=#{user_name} and user_email=#{user_email} and user_name=#{user_name}
  </select>
  
  <!-- 비번 변경 -->
  <update id="changePW_sql">
  	UPDATE users 
  	SET user_pass=#{user_pass} 
  	WHERE user_id=#{user_id}
  </update>
  
  <!-- 로그인 -->
  <select id="loginUser" resultType="com.april.unomas.domain.UserVO">
  	SELECT user_id, user_pass, user_status, user_num
  	FROM users
  	WHERE user_id=#{user_id} and user_pass=#{user_pass}
  </select>

  <!-- 회원 정보 가져오기 -->
  <select id="getUserInfo" parameterType="String" resultType="com.april.unomas.domain.UserVO">
   select user_id, user_name, user_birth, user_phone, user_email, 
   user_postalcode, user_roadaddr, user_detailaddr, user_status, user_emailagree, user_point, user_bank, user_account, user_account_holder
   from users 
   where user_id=#{user_id}
  </select>
  
  <!-- 회원정보 수정 -->
  <update id="updateUser" >
  	update users 
  	set user_name=#{user_name}, user_email=#{user_email}, user_birth=#{user_birth}, user_phone=#{user_phone},
  	user_bank=#{user_bank}, user_account=#{user_account}, user_account_holder=#{user_account_holder}, user_emailagree=#{user_emailagree}
  	where user_id=#{user_id}
  </update>
  
  <!-- 회원 추가 배송지 조회 -->
  <select id="getAddAddr" parameterType="int" resultType="com.april.unomas.domain.UserVO">
  	select addr_num, user_num, addr_name, addr_postalcode, addr_roadaddr, addr_detailaddr
  	from order_addr
  	where user_num=#{user_num}
  </select>
  
  <!-- 회원 추가 배송지 수정 -->
  <update id="updateAddAddr">
  	update order_addr
  	set addr_name=#{addr_name}, addr_postalcode=#{addr_postalcode}, addr_roadaddr=#{addr_roadaddr}, addr_detailaddr=#{addr_detailaddr}, addr_primary=0
  	where user_num=#{user_num} and addr_num=#{addr_num}
  </update>
  
  <!-- 회원탈퇴 -->
  <update id="deleteUser">
  	UPDATE users 
  	SET user_status=-1
  	WHERE user_id=#{user_id}
  </update>
  
  <!-- 비밀번호 체크 -->
  <select id="checkPW" resultType="int">
     SELECT count(*)
     FROM users
     WHERE user_id=#{user_id} and (user_pass=#{user_pass} OR 
     (SELECT count(*) FROM admin WHERE admin_pass=#{user_pass}))
  </select>
  
</mapper>