<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.unomas.mapper.wishMapper">

	<!-- 찜 목록 -->
	<select id="list" resultType="com.april.unomas.domain.WishVO">
		SELECT w.wish_num, w.prod_num, w.user_num, p.prod_name, p.prod_price, p.prod_discntrate, p.prod_image3, p.prod_stock, c.prod_amount
	    FROM products p, wishlist w
		LEFT JOIN cart c ON w.user_num = c.user_num AND w.prod_num = c.prod_num
	    WHERE w.user_num = #{user_num} AND w.prod_num = p.prod_num
	    ORDER BY wish_num;
	</select>
	
	<!-- 찜 X 삭제 버튼 -->
	<delete id="deleteWish" parameterType="int">
		DELETE
		FROM unomasdb.wishlist
		WHERE wish_num = #{wish_num}
	</delete>
	
	<!-- 찜 선택 삭제 -->
	<delete id="deleteCheckWish">
		DELETE
		FROM unomasdb.wishlist
		WHERE wish_num = #{wish_num} AND user_num = #{user_num}
	</delete>
	
	<!-- 장바구니 선택 추가 -->
	<insert id="insertCheckWish">
		INSERT INTO unomasdb.cart (user_num, prod_num)
		VALUES (#{user_num}, #{prod_num})
		ON DUPLICATE KEY UPDATE prod_num = prod_num
	</insert>
	
	<!-- 찜 전체 삭제 -->
	<delete id="deleteAllWish" parameterType="int">
		DELETE
		FROM unomasdb.wishlist
		WHERE user_num = #{user_num}
	</delete>
	
	<!-- 장바구니 단품 담기 -->
	<insert id="insertCart">
		INSERT INTO unomasdb.cart (user_num, prod_num, prod_amount)
		VALUES (#{user_num}, #{prod_num}, #{prod_amount})
		ON DUPLICATE KEY UPDATE prod_amount = prod_amount
    </insert>
</mapper>