<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.unomas.mapper.wishMapper">

	<!-- 찜 목록 -->
	<select id="list" resultType="com.april.unomas.domain.WishVO">
	select
		wish_num, user_num, prod_num, prod_name, prod_price
	from unomasdb.wishlist
	</select>
	
	<!-- 찜 개별 삭제 -->
	<delete id="delete" parameterType="int">
	delete
	from unomasdb.wishlist
	where prod_num = #{prod_num}
	</delete>
</mapper>