<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.unomas.mapper.wishMapper">

	<!-- 찜 목록 -->
	<select id="list" resultType="com.april.unomas.domain.WishVO">
	select
		w.wish_num, w.user_num, w.prod_num, p.prod_name, p.prod_price
	from 
		unomasdb.wishlist w
	inner join unomasdb.products p
	on w.prod_num =p.prod_num 
	</select>
	
	<!-- 찜 추가 -->
	<insert id="insertWish">
	insert into unomasdb.wishlist(
		user_num, prod_num
	) values (
		#{user_num}, #{prod_num}
	)
	</insert>
	
	<!-- 찜 X 삭제 버튼 -->
	<delete id="deleteWish" parameterType="int">
	delete
	from unomasdb.wishlist
	where prod_num = #{prod_num}
	</delete>
	
	<!-- 찜 선택 삭제 -->
	<delete id="deleteCheckWish">
	delete
	from unomasdb.wishlist
	where wish_num = #{wish_num} and user_num = #{user_num}
	</delete>
	
	<!-- 장바구니 선택 추가 -->
	<insert id="insertCheckWish">
	insert into unomasdb.cart(
		user_num, prod_num
	) values (
		#{user_num}, #{prod_num}
	)
	</insert>
	
	<!-- 찜 전체 삭제 -->
	<delete id="deleteAllWish" parameterType="int">
	delete
	from unomasdb.wishlist
	where user_num = #{user_num}
	</delete>
</mapper>