@charset "UTF-8";
div {
    display: block;
}

#headerTop{
width: 1050px;
margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;

}

#headerTop
.listMenu{
float: right;
}

#headerTop * {
font-family: noto sans;
font-weight: 400;
letter-spacing: -.3px;
}

ol, ul {
    list-style-type: none;
}

#headerTop .menu {
    position: relative;
    z-index: 400;
    float: left;
}

#headerTop .linkMenu {
    float: left;
    height: 55px;
    padding: 0 12px;
    color: #333;
    line-height: 35px;
    white-space: nowrap;
}

#headerTop .menuLogin:after, .menuJoin:after {
    content: "";
    float: right;
    width: 1px;
    height: 13px;
    margin-top: 12px;
    background-color: #d8d8d8;
}

div, th, td, li, dt, dd, p {
    word-break: break-all;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#headerTop .CS:before {
    right: 0;
}

#headerTop .CS{
    left: auto;
    right: 0;
}

#headerTop {
    font-family: noto sans,malgun gothic,AppleGothic,dotum;
    line-height: 1;
    letter-spacing: -.05em;
    color: #4c4c4c;
    font-size: 12px;
    max-width: 100%;
}
#headerTop:after {
    content: "";
    display: block;
    overflow: hidden;
    width: 100%;
    height: 0;
    font-size: 0;
    text-indent: -9999px;
}

#headerLogo {
    position: relative;
    width: 1050px;
    height: 63px;
    margin: 0 auto;
}

.layoutWrapper {
    position: relative;
    width: 1050px;
    height: 100%;
    margin: 0 auto;
}
#headerLogo .logo {
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 100%;
    height: 79px;
    text-align: center;
}

h1 {
    font-size: 2em;
}