@charset "UTF-8";

/* 헤더주석 시작 */
div {
    display: block;
}

#headerTop {
width: 1050px;
margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;

}

#headerTop
.listMenu{
float: right;
}

#headerTop * {
font-family: noto sans;
font-weight: 400;
letter-spacing: -.3px;
}

ol, ul {
    list-style-type: none;
}

#headerTop .menu {
    position: relative;
    z-index: 400;
    float: left;
}

#headerTop .linkMenu {
    float: left;
    height: 55px;
    padding: 0 12px;
    color: #333;
    line-height: 35px;
    white-space: nowrap;
}

#headerTop .menuLogin:after, .menuJoin:after {
    content: "";
    float: right;
    width: 1px;
    height: 13px;
    margin-top: 12px;
    background-color: #d8d8d8;
}

div, th, td, li, dt, dd, p {
    word-break: break-all;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#headerTop .CS:before {
    right: 0;
}

#headerTop .CS{
    left: auto;
    right: 0;
}

#headerTop {
    font-family: noto sans,malgun gothic,AppleGothic,dotum;
    line-height: 1;
    letter-spacing: -.05em;
    color: #4c4c4c;
    font-size: 12px;
    max-width: 100%;
}
#headerTop:after {
    content: "";
    display: block;
    overflow: hidden;
    width: 100%;
    height: 0;
    font-size: 0;
    text-indent: -9999px;
}
@media only screen and (min-width: 1200px){
	.inner-header{
		padding: 39px 0 10px;
	}
	.col-lg-2{
		bottom: 30px;
	}
}
@media only screen and (max-width: 1199px){
	.inner-header{
		padding: 39px 0 20px;
	}
	.col-lg-2{
		bottom: 10px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px){
	.inner-header{
		padding: 39px 0 39px;
	}
	.col-lg-2{
		top: 1px;
	}
}
@media only screen and (max-width: 767px){
	.col-lg-2{
		width: 50%;
		left: 100px;
	}
}
.inner-header .advanced-search .category-btn {
    display: none;
}
/* #headerLogo { */
/*     position: relative; */
/*     width: 1050px; */
/*     height: 63px; */
/*     margin: 0 auto; */
/* } */

/* .layoutWrapper { */
/*     position: relative; */
/*     width: 1050px; */
/*     height: 100%; */
/*     margin: 0 auto; */
/* } */
/* #headerLogo .logo { */
/*     position: absolute; */
/*     left: 0; */
/*     bottom: 6px; */
/*     width: 100%; */
/*     height: 79px; */
/*     text-align: center; */
/* } */

/* #header h1 { */
/*     font-size: 2em; */
/* } */
/* .headerMiddle .col-lg-7 { */
/* 	padding-left: 50px; */
/* } */
/* .headerMiddle{ */
/*     position: relative; */
/*     width: 1170px; */
/*     height: 120px; */
/*     margin: 0 auto; */
/*     padding-right: 15px; */
/*     padding-left: 15px; */
/*     margin-right: auto; */
/*     margin-left: auto; */
/* } */

/* .inner-header .logo{ */
/*     position: absolute; */
/*     width: 100%; */
/*     height: 100%; */
/*     text-align: center; */
/*     bottom: 30px; */
/* } */
/* .headerMiddle .heart-icon{ */
/* 	padding-right: 13px; */
/* } */
/* .headerMiddle .cart-icon{ */
/* 	padding-right: 50px; */
/* } */

.screenOut {
    display: block;
    overflow: hidden;
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}
.nav-item{
	font-family:'Noto Sans';
}
.depart-btn .depart-hover>li{
	position:relative
}
.depart-btn .depart-hover>li:hover .secondMenu{
	left: 100%;
}
.depart-btn .secondMenu{
	position: absolute;
    top: 0;
    background-color: #f8f9fa;
    width: 260px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
    left: -9999px;
/*     left: 100%; */
/*     display: none; */
}
/* 헤더주석 끝 */
/* 푸터주석 시작 */


.footerCS{
	font-weight: 600;
	font-size: 20px;
	color: #333;
	line-height: 24px;
	color:white;
	padding-bottom:20px;
}

.csNumber{
	padding-top: 20px;
}
.number{
    padding-top: 4px;
    font-weight: 800;
    font-size: 28px;
    color: white;
    line-height: 36px;
    letter-spacing: -.5px;
    white-space: nowrap;
    float: left;
    width: 140px;
    margin-right:16px;
}
.number a:link, a:visited{
	color:white;
}
.number a:hover{
	color:grey;
}
.numberExpln{
    font-size: 14px;
    color: #333;
    line-height: 22px;
    letter-spacing: -.2px;
}
.numberExpln dt{
	display: block;
}
.numberExpln dt a:link, a:visited{
	color: white;
}
.numberExpln dd{
	color: #999;
}
.footerInquiry{
	overflow-x: hidden;
	overflow-y: hidden;
	padding-top: 16px;
}
.footerInquiry a:link, a:visited{
	color:white;
}
.footerInquiry a:hover{
	color:grey;
}

.footerInquiry{
    height: 40px;
    padding-top: 7px;
    margin-top: 3px;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    font-weight: 700;
    font-size: 14px;
    color: #333;
    line-height: 22px;
    text-align: center;
    float: left;
    width: 140px;
    margin-right:16px;
}
.inquiryExpln{
    font-size: 14px;
    color: #333;
    line-height: 22px;
    letter-spacing: -.2px;
}
.inquiryExpln dt{
	color: #999;
	display: block;
}
.inquiryExpln dd{
	color: #999;
}
.company{
    float: left;
    font-size: 12px;
    color: #999;
    line-height: 20px;
}
.list{
    overflow: hidden;
    width: 100%;
    padding-bottom: 29px;
}
.list li{
    float: left;
    padding-right: 16px;
}
.list a:link{
    font-size: 14px;
    color: white;
    line-height: 18px;
}
.company a:link{
    color: white;
    line-height: 18px;
}
/* 푸터주석 끝 */