.th{

    text-align: center;
}

.th_subject {
    width: 620px;
}

.th_regdate {
    width: 100px;
}

.th_answerstatus {
    width: 100px;
}

.td_subject {
	width: 620px;
    color: #333333;
}

.td_regdate {
	width: 100px;
    color: #999999;
}

.td_answerstatus {
	width: 100px;
    color: #999999;

}

.board {
	display:none;
}

.category {
    color: #999999;
}

.question {
    width: 780px;
}

.answer {
    width: 780px;
}

.board{

    background-color: rgb(250, 250, 250);
}
.questionicon {
     background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; 
    top: -2px;
    width: 24px;
    height: 24px;
    border: 0;
}

.answericon {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; 
    top: -2px;
    width: 24px;
    height: 24px;
}