@charset "UTF-8";

.title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.categoryBox {
    position: relative;
    margin-bottom: 20px;
}

.categoryList.on {
    display: block;
}

.categoryList {
    overflow: hidden;
    margin-top: 23px;
    padding: 12px 0 29px;
    border: 1px solid #e2e2e2;
}

.categoryList li {
    float: left;
    width: 263px;
    padding: 16px 44px 0 39px;
}

.categoryList li a {
    cursor: pointer;
}

.product-item .pi-text .product-price {
    color: black;
}

#productItem {
    margin-bottom: 80px;
}

#pagediv {
    text-align: center;
    font-size: 25px;
    margin-top: 140px;
}

a:hover {
    color: #007bffc2;
}

.pagingBtn {
	cursor: pointer;
}