@charset "UTF-8";

#writeBtn {
    margin-top: 30px;
    float: right;
}

.customer-review-option .leave-comment .comment-form textarea {
    height: 350px;
}

.customer-review-option {
    padding-top: 10px;
}

.inputFileUpload {
    padding: 20px 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #ebebeb;
    cursor: pointer;
}

#uploadImg {
    display: none;
}

.customer-review-option .leave-comment .comment-form input:not(.title) {
    width: 73%;
}