@charset "UTF-8";
.logo {
	text-align: center;
}
.count-button {
    color: #ffffff;
    background: #b9ce45;
/*     width: 20%; */
    border: 1px solid #b9ce45;
    margin: 0px 0px 10px 10px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 13px 45px 11px;
    cursor: pointer;
    float: right;
}

.write-button {
    color: #ffffff;
    background: #b9ce45;
/*     width: 20%; */
    border: 1px solid #b9ce45;
  	 margin: 3px 3px 10px 3px;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    float: right;
    text-align: center;
}

.back-button {
    color: #ffffff;
    background: #e2e2e2;
    border: 1px solid #e2e2e2;
   	margin: 0px 0px 10px 10px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 13px 45px 11px;
    cursor: pointer;
    float: right;
}

.del-button {
    color: #ffffff;
    background: #666;
    border: 1px solid #666;
   	margin: 0px 0px 10px 10px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 13px 45px 11px;
    cursor: pointer;
    float: right;
}

.fnq-count-button {
    color: #ffffff;
    background: #b9ce45;
    border: 1px solid #b9ce45;
    margin: 0px 0px 10px 10px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 13px 45px 11px;
    cursor: pointer;
    float: right;
}

.fnq-del-button {
    color: #ffffff;
    background: #666;
    border: 1px solid #666;
   	margin: 0px 0px 10px 10px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 13px 45px 11px;
    cursor: pointer;
    float: right;
}

.fnq-count-button{
	width: 10% !important;
    text-align: center !important;
    padding: 0px !important;
    margin-bottom: 0px !important;
}

.fnq-del-button{
	width: 10% !important;
    text-align: center !important;
    padding: 0px !important;
    margin-bottom: 0px !important;
}

.register-button{
/* 	width: 20%; */
    height: 46px;
    border: 2px solid #ebebeb;
    text-align: center;
    margin-bottom: 25px;
    padding: 10px;
    float: right;
    cursor: pointer;
}

.answer-button{
/* 	width: 20%; */
    height: 46px;
/*     border: 2px solid #ebebeb; */
    border: none;
    background-color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
    padding: 10px;
    cursor: pointer;
    word-break: keep-all;
}

.register-button:hover {
	background-color: #666;
	color: white;
}

.answer-button:hover {
	color: red;
}

.table_info  {
	margin: 0;
	padding: 0;
	margin-bottom: 60px;
	width: 100%;
	border: 1px solid #ededed;
	border-collapse: collapse;
	font-size: 14px;
	color: #333;
	text-align: left;
	margin-bottom: 60px;
}

.table_board  {
	margin: 0px;
	padding: 0px;
	margin-bottom: 60px;
	width: 100%;
	border: 1px solid #ededed;
	border-collapse: collapse;
	font-size: 14px;
	color: #333;
	text-align: left;
	margin-bottom: 20px;
}

.table_qna  {
	margin: 0px;
	padding: 0px;
	margin-bottom: 60px;
	width: 100%;
	border: 1px solid #ededed;
	border-collapse: collapse;
	font-size: 14px;
	color: #333;
	text-align: left;
	margin-bottom: 20px;
}

.notice_field input {
    width: 100%;
    height: 46px;
    border: 2px solid #ebebeb;
    margin-bottom: 0px;
    padding-left: 15px;
}

.notice_field {
    border-style: none !important;
    margin: 0px;
    padding: 10px;
    height: 40px;
    width: 50%;
    font-size: 12px;
}
.admin_profile  {
	margin: 0;
	padding: 0;
	margin-bottom: 60px;
	width: 100%;
	border: 1px solid #ededed;
	border-collapse: collapse;
	font-size: 14px;
	color: #333;
	text-align: left;
	margin-bottom: 60px;
}

.table_info th {
    text-align: center;
    vertical-align: top;
}

.table_info td {
    text-align: right;
    vertical-align: top;
}

.table_info th {
    background: #f9f9f9;
    color: #666;
    width: 165px;
}

.table_info th, .table_info td {
    padding: 18px 15px 16px 20px;
    border: 1px solid #ededed;
    vertical-align: middle;
}

.table_board th {
    background: #f9f9f9;
    color: #666;
    text-align: left;
}

.table_qna th {
    background: #f9f9f9;
    color: #666;
    text-align: left;
}

.table_board td {
    text-align: left;
}

.table_qna td {
    text-align: left;
    padding: 0px;
}

.table_board th, td {
    padding: 18px 15px 16px 20px;
    border: 1px solid #ededed;
    vertical-align: middle;
}

.table_board th, td {
    padding: 10px;
    border: 1px solid #ededed;
    vertical-align: middle;
}

.title {
	text-align: center;
}

.admin_profile td {
	text-align: center;
}

.table_info td p {
	font-size: 14px !important;
    margin: 7px 0px !important;
}

li {
	text-align: left;
}
.pie-chart2 {
/* 	display:inline-block; */
	margin: 0px auto;
	position:relative;
	width: 300px;
	height: 300px;
	background: conic-gradient(#b9ce45 0% 45%, #faf5df 45% 72%, #fed837 72% 87%,  #f67555 87% 96%, #ededed 96% 100%);
	border-radius: 50%;
}
.pie-chart2  .center{
	position:absolute;
	width:200px; 
	height: 200px;
	background :#fff;
	border-radius: 50%;
	top: 50px;
	left:50px;
}

.selectBox {
    height: 46px;
    border: 2px solid #ebebeb;
    margin-bottom: 10px;
    padding-left: 15px;
}

.selectBox {
    word-wrap: normal;
    width: 100%;
    border-radius: 0;
	border: 2px solid #ECEDEE;
    height: 46px;
    line-height: 35px;
    margin: 0px 0px 2px;
}

.input-search {
    position: relative;
}

/* .checkout-form input { */
/*     width: 100%; */
/*     height: 46px; */
/*     border: 2px solid #ebebeb; */
/*     padding-left: 15px; */
/*     margin-bottom: 0px; */
/* } */
    
.input-search input{
	border-style: solid solid solid none;
}

.input-search button {
    font-size: 16px;
    color: #ffffff;
    position: absolute;
    right: -7px;
    top: -1px;
    border: 1px solid #b9ce45;
    background: #b9ce45;
    padding: 12px 16px 12px;
    cursor: pointer;
    max-width: 60%;
}

a {
	color: black;
}

a:hover {
	color: #b9ce45;
}

.pagination {
    display: -ms-flexbox;
    display: inline-flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    margin-top: 30px;
}

.input_field {
	border-style: none !important;
    margin: 0px;
    padding: 10px;
    height: 40px;
    width: 50%;
    font-size: 12px;
}

.textarea {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 496px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px;
}

.fnq-textarea {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px;
}

.qna-textarea {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px;
}

.textarea-text {
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 16px;
    font-size: 15px;
    line-height: 1.43;
    word-break: break-all;
    z-index: 1;
    background: none;
    border-radius: 4px;
    color: rgb(51, 51, 51);
    outline: none;
    resize: none;
    border: none;
}

.textarea {
	border-style: none !important;
}

.fnq-textarea {
	border-style: none !important;
}

.delete_text {
	float: right;
}

.delete_text:hover {
	color: #f67555;
}

.answer {
	color: #b9ce45;
	font-weight: bold;
}

.answer_b {
	font-weight: bold;
	color: #f67555;
}

.answer_b:hover {
	color: #b9ce45;
}

.answer_f {
	font-weight: bold;
	color: #666;
}

.answer_f:hover {
	color: #b9ce45;
}

.line hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #b9ce45;
}

.qna_content {
	padding: 10px;
	text-align: left;
}

.qna_content hr {
	margin-top: 1rem;
    margin-bottom: 1rem;
	border: 1px solid #ebebeb;
}
